src/main/mule/myfirstproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="908cbb70-e1c2-484e-9849-66e254d7c320" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstprojectFlow" doc:id="a68ae918-f508-4da9-aab2-af6d45d0e00d" >
		<http:listener doc:name="Listener" doc:id="a4825e64-f504-4c33-b7a2-e9c44511fd22" config-ref="HTTP_Listener_config" path="/myFirstProject"/>
		<ee:transform doc:name="Transform Message" doc:id="c1594ac7-bb7a-4355-9d81-d92ebcd84846" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="80494914-49d8-40a7-8d80-7ac3628e1206" message="#[payload]"/>
	</flow>
</mule>
